.mainlist-div{
    background-color: white;
    padding: 1rem 1rem;
    border-radius: 1rem;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

 

}
.mainlist-div>div{
    display: flex;
    flex-direction: column;
gap: 0.3rem;

}
.mainlist-div>div>p{
 font-weight: var(--font--bold);


}
.mainlist-div>div>h2{
    
  
  font-weight:400;
}
.mainlist-div>img{
    width: 2rem;
cursor: pointer;
}
.mainlist-div>img:active{
    width: 1.8rem;
cursor: pointer;
}
